@import 'normalize.css';
.nav-bkgd {
  height: 45px;
  background: #efefef;
  width: 100%;
}
nav {
  display: none;
}
.brand-bar {
  width: 1200px;
  margin: -38px auto 60px;
}
.brand-bar h1 {
  margin: 0;
}
.brand-bar .search {
  float: right;
}
.brand-bar .links {
  float: right;
}
.brand-bar .links li {
  display: inline;
}
.main-content {
  width: 1200px;
  margin: 0 auto;
}
.main-content .widget-area {
  width: 50%;
  float: left;
  height: 250px;
  border: 1px solid #000;
}
